body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding: 0 16px;
  margin: 0 auto;
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* HEADER */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  padding: 16px 0;
}

.title span {
  color: #4d5ae5;
}

.item-menu {
  font-family: "Roboto";
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-menu:hover,
.item-menu:active {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-menu.active {
  position: relative;
}
.item-menu.active::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: blue;
}
.address-item a {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item a:hover {
  color: #404bbf;
}
.btn-burger {
  border: none;
  padding: 0;
  background-color: transparent;
}

.icon-burger {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .icon-burger {
    display: none;
  }
  .menu {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .title {
    padding: 24px 0;
    margin-right: 120px;
    font-size: 16px;
  }
  .item-menu {
    font-size: 16px;
  }
  .address {
    display: block;
    margin-left: auto;
    font-style: normal;
  }
  .menu-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-item a {
    font-size: 16px;
  }
}
@media screen and (min-width: 1158px) {
  .title {
    margin-right: 76px;
  }
  .menu-address {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }

  .address-item {
    padding: 24px 0;
    font-size: 16px;
  }
}

/* HAMBURGER MENU */
.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-menu-box {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .menu,
  .address {
    display: none;
  }

  .title {
    font-size: 16px;
  }

  .btn-burger {
    display: flex;
  }

}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

/* MODAL */
.modal {
  display: none;
}
.modal.is-open {
  display: block;
}
.backdrop {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 408px;
  height: 584px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.close-border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  background: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
}

.close {
  font-size: 24px;
  font-weight: bold;
  color: #2e2f42;
  transition: color 0.3s;
}

.close-border:hover {
  background-color: white;
}

.close:hover {
  color: darkred;
}

.modal-title {
  padding-top: 25px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  transition: color 150ms ease-in-out;
}

.input-icon {
  display: flex;
  align-items: center;
  position: relative;
}

.form-icon {
  position: absolute;
  width: 18px;
  height: 26px;
  top: 5px;
  left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  pointer-events: none;
  fill: #2e2f42;
}

.form-input {
  width: 360px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  padding-left: 32px;
}

.form-input:focus + .form-icon {
  border-color: #4d5ae5;
  outline: none;
  fill: #4d5ae5;
}

.form-input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.form-textarea:focus {
  border-color: #4d5ae5;
  outline: none;
}

.form-textarea {
  width: 360px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  padding: 10px;
}

.privacy {
  display: flex;
  justify-content: flex-start;
  margin-left: 16px;
  align-items: center;
}
.privacy-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
  color: #757575;
}
.checkbox {
  width: 13px;
  border: 1px solid #757575;
  height: 13px;
  top: 2px;
  border-radius: 2px;
  border-width: 1px;
}
.form-button {
  width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  background-color: #4d5ae5;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  display: block;
  margin: 20px auto 0;
}

.form-button:hover {
  background-color: #3c46b8;
}
.form-label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
  color: #8e8f99;
}
@media screen and (max-width: 768px) {
  .modal-title {
    font-size: 14px;
  }
  .form-button {
    max-width: 120px;
    max-height: 50px;
  }
}

/* SECTION SLIDE */
.slide {
  background-color: #2e2f42b2;
  background-image: url("images/background/slideback-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  margin-right: auto;
  margin-left: auto;
  padding: 72px 0;
}

.button1 {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
}

.button1:hover {
  background-color: #404bbf;
}

.slide-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #ffffff;
  max-width: 216px;
  margin: 0 auto 72px;
}

.section2,
.section3,
.section4 {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* Mobil ekranlar için özel düzenleme */
@media screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .slide {
    background-color: #2e2f42b2;
    background-image: url("../images/background/slideback-mobile@2x.jpg");
  }
}

/* Tablet ekranlar için düzenleme */
@media screen and (min-width: 768px) {
  .slide {
    background-color: #2e2f42b2;
    background-image: url("../images/background/slideback-tab@1x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .slide {
    background-color: #2e2f42b2;
    background-image: url("../images/background/slideback-tab@2x.jpg");
  }
}

/* Masaüstü ekranlar için düzenleme */
@media screen and (min-width: 1158px) {
  .slide {
    background-color: #2e2f42b2;
    background-image: url("../images/background/slideback-desktop@1x.jpeg");
    padding: 188px 0;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 2dppx) {
  .slide {
    background-color: #2e2f42b2;
    background-image: url("../images/background/slideback-desktop@2x.jpg");
    padding: 188px 0px;
  }
}
@media screen and (min-width: 768px) {
  .slide-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px;
  }
}
@media screen and (min-width: 1158px) {
  .slide-title {
    line-height: 1.11;
    max-width: 496px;
    margin: 0 auto 48px;
  }
}

/* SECTION 2 */
.section2 {
  display: flex;
  justify-content: center;
  gap: 30px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.section2-item {
  padding: 10px;
  margin-right: 20px;
}

.section2-icon {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border-width: 1px;
  display: flex;
  justify-content: center;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  align-items: center;
  margin-bottom: 15px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  width: 59.717105865478516px;
  height: 64px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover,
.icon:focus {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.1);
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media (max-width: 767px) {
  .section2 {
    max-width: 320px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .section2-item {
    margin-right: 0;
    margin-bottom: 20px;

    align-items: center;
  }
  .section2-item h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section2-icon {
    margin: 0 auto;
  }
  .section2-item p {
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1158px) {
  .section2 {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto the next line */
    justify-content: space-between; /* Distribute items evenly */
    gap: 20px; /* Add some space between the items */
    max-width: 100%; /* Ensure the container takes full width */
  }

  .section2-item {
    width: 48%;
    margin-right: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section2-item h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section2-icon {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section2-item p {
    margin: 0 auto;
    text-align: center;
  }
}
/* SECTION 3 - OUR TEAM */
.section3 {
  width: 100%;
  text-align: center;
  background-color: #f4f4fd;
}

.section3-main {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.section3-item {
  list-style-type: none;
  width: 264px;
  height: 428px;
  margin-top: 100px;
  gap: 32px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section3-item:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.social-icons {
  display: flex;
  gap: 24px;
  list-style: none;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}

.social-icon {
  width: 40px;
  height: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover,
.social-icon:focus {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.1);
}
@media (max-width: 767px) {
  .section3-main {
    max-width: 767px;
    margin-left: 50px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .section3-item {
    margin-right: 0;
    margin-bottom: 20px;

    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1158px) {
  .section3-main {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto the next line */
    justify-content: space-between; /* Distribute items evenly */
    gap: 20px; /* Add some space between the items */
    max-width: 100%; /* Ensure the container takes full width */
  }

  .section3-item {
    width: 48%;
    margin-right: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* SECTION 4 OUR PORTFOLIO */
.section4 {
  width: 100%;
  text-align: center;
}

.section4-main {
  margin-top: 30px;
  gap: 22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section4-item {
  list-style-type: none;
  width: 360px;
  height: 420px;
  background: #ffffff;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.section4-item img {
  display: block;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  width: 360px;
  height: 300px;
  display: block;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(63, 81, 181);
  color: #fff;
  font-family: sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}

.image-container:hover .overlay {
  transform: translateY(0);
}

.section4-text {
  text-align: left;
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-left: 16px;
  border-top: none;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.section4-item:hover .section4-text {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media (max-width: 767px) {
  .section4-main {
    max-width: 767px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .section4-item {
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
  }

  .section4-box h2 {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .section4-main {
    max-width: 1158px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 100%;
  }

  .section4-item {
    width: 48%;
    margin-right: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-title {
  font-size: 18px;
  color: white;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-footer {
  line-height: 1.5;
  color: #f4f4fd;
  text-align: left;
}

.footer-social p {
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-icons {
  display: flex;
  gap: 15px;
}

.social-icon {
  display: flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover,
.social-icon:focus {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.1);
}

.icon-footer {
  width: 60px;
  height: 60px;
  fill: #f4f4fd;
}

.subscribe p {
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;
}

.email {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 8px 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 16px;
}

.sub-btn {
  border-radius: 4px;
  width: 165px;
  height: 40px;
  background-color: #4D5AE5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


.sub-btn:hover {
  background-color: #434455;
}

.icon-sub {
  fill: #ffffff;
  margin-left: 16px;
}
@media screen and (max-width: 767px) {
  .subscribe{
    margin:40px;
  }
  .footer-social{
    margin:50px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 85px;
    padding-bottom: 107px;
    padding-left: 108px;
  }

  .footer-box {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    text-align: start;
    justify-content: start;
    gap: 72px 24px;
    
  }
  .box-text {
    max-width: 264px;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
  }
  .input-footer {
    margin: 0;
    max-width: 264px;
  }
  .sub-container {
    display: flex;
    gap: 24px;
  }
  
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .box-text {
    margin-right: 120px;
  }
  .footer-box {
    flex-wrap: nowrap;
    gap: 0;
  }

  .footer-social {
    margin-right: 80px;
  }
}
